[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tricore-backtrace = {editable = true, path = "."}

[dev-packages]
autopep8 = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.10"
